<template>
  <div class="filters">
    <label for="filterByType">Filter by type</label>
    <select id="filterByType" v-on:change="updateFilters('type', $event)">
      <option>Any</option>
      <option>Student</option>
      <option>Graduate Student</option>
    </select>

    <label for="filterByLocation">Filter by location</label>
    <select id="filterByLocation" v-on:change="updateFilters('location', $event)">
      <option>Any</option>
      <option>Downtown</option>
      <option>Old North</option>
      <option>Old South</option>
      <option>On Campus</option>
    </select>

    <label for="filterByBedrooms">Filter by bedrooms</label>
    <select id="filterByBedrooms" v-on:change="updateFilters('bedrooms', $event)">
      <option>Any</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>
  </div>
</template>

<script>
export default {
  props: {
    filters: Object
  },

  methods: {
    updateFilters (key, event) {
      this.$emit('updateFilters', { key: key, value: event.target.value })
      return
    }
  }
}
</script>

<style>
</style>
