<template>
  <div class="listings">
    <h1>Listings</h1>

    <label for="sortBy">Sort by</label>
    <select id="sortBy" v-model="sort">
      <option value="newest">Latest Listings</option>
      <option value="price">Lowest Price</option>
      <option value="distance">Distance to Western</option>
    </select>

    <filters :filters="filters" v-on:updateFilters="updateFilters"></filters>

    <listing
      v-for="(listing, index) in sortedListings"
      v-bind:listing="listing"
      v-bind:index="index">
    </listing>
  </div>
</template>

<script>
import Listing from './Listing.vue'
import Filters from './Filters.vue'

function sortBy (array, key) {

  switch (key) {
    case 'newest':
    return array.sort((a, b) => {
      return a.posted - b.posted
    })
    break;
    case 'price':
    return array.sort((a, b) => {
      return a.rent - b.rent
    })
    case 'distance':
    return array.sort((a, b) => {
      return a.distance - b.distance
    })
    default:
    return array
  }
}

export default {
  components: {
    Listing,
    Filters
  },

  data () {
    return {
      listings: require('../assets/listings'),
      sort: 'newest',
      filters: {
        type: 'Any',
        location: 'Any',
        bedrooms: 'Any'
      }
    }
  },

  methods: {
    updateFilters (changes) {
      this.filters[changes.key] = changes.value
      return
    }
  },

  computed: {
    filteredListings() {
      const filter = JSON.parse(JSON.stringify(this.filters))

      return this.listings.filter((item) => {

        for(let key in filter) {
          // Less strict to allow for number matching
          if (item[key] != filter[key] && filter[key] !== 'Any') {
            return false
          }
        }
        return true
      })
    },
    sortedListings () {
      return sortBy(this.filteredListings, this.sort)
    }
  }
}
</script>

<style>
</style>
